.logo{
    width: 8em;
    margin: 10px auto;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.8em;
}
.headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerLeft{
    display: flex;
    align-items: center;
    gap: 0.2em;
    
}
.headerLeft span{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.headerIcon{
    font-size: 20px;
    color: black;
}

/*menu header despegable */
.menuHeader{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
    gap: 2em;
    width: 80%;
    inset: 0;
    height: 100vh;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 200;
}
.menuHeader.transform{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    background-color: var(--colorLogo);
}
.closeMenuHeader{
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 30px;
    color: #fff;
}
.menuHeaderLink{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}